@media (max-width: 959px) {
    .step.responsive img {
        width: 100%;
        padding-top: 16px;
    }
}

@media (min-width: 960px) {
    .step.responsive {
        display: flex;
        align-items: start;
    }

    .step.responsive img {
        width: 30%;
        padding-left: 16px;
    }
}

.step .aside {
    color: rgb(33, 190, 206);
}

.step .spicy {
    color: rgb(238, 28, 40);
}

.step.everyplate .aside {
    color: rgb(33, 190, 206);
}

.step.everyplate .spicy {
    color: rgb(238, 28, 40);
}

.step.hellofresh .aside {
    color: rgb(143, 200, 78);
}

.step.hellofresh .spicy {
    color: rgb(187, 81, 81);
}

/* .everyplate {
    color: rgb(248, 157, 51);
} */
