apiVersion: apps/v1
kind: Deployment
metadata:
  name: mealie
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: mealie
          image: hkotel/mealie:v3.10.2
          ports:
            - name: ingress
              containerPort: 9000
          env:
            - name: TZ
              value: America/New_York
            - name: ALLOW_SIGNUP
              value: "false"
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: BASE_URL
              value: https://recipes.mchill.io
          volumeMounts:
            - name: mealie
              mountPath: /app/data
          resources:
            limits:
              memory: 512Mi
            requests:
              cpu: 10m
              memory: 512Mi
      volumes:
        - name: mealie
          persistentVolumeClaim:
            claimName: mealie
