apiVersion: apps/v1
kind: Deployment
metadata:
  name: flaresolverr
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: flaresolverr
          image: ghcr.io/flaresolverr/flaresolverr:v3.4.6
          ports:
            - name: ingress
              containerPort: 8191
          env:
            - name: TZ
              value: America/New_York
          volumeMounts:
            - name: flaresolverr
              mountPath: /config
          resources:
            limits:
              memory: 512Mi
            requests:
              cpu: 10m
              memory: 512Mi
      volumes:
        - name: flaresolverr
          persistentVolumeClaim:
            claimName: flaresolverr
