namespace: monitoring
resources:
  - config-map.yaml
  - helm.yaml
  - ingress.yaml
  - sealed-secret.yaml
patches:
  - target:
      group: batch
      version: v1
      kind: Job
    patch: |-
      - op: add
        path: /spec/ttlSecondsAfterFinished
        value: 0
