apiVersion: v1
kind: PersistentVolume
metadata:
  name: server
spec:
  capacity:
    storage: 16Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  claimRef:
    namespace: server
    name: server
  glusterfs:
    endpoints: glusterfs
    path: k8s
    readOnly: false
---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: media
spec:
  capacity:
    storage: 5Ti
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  claimRef:
    namespace: server
    name: media
  nfs:
    path: /volume1/Media
    server: 192.168.1.220
