apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: server
spec:
  accessModes:
    - ReadWriteMany
  resources:
     requests:
       storage: 16Gi
  storageClassName: ""
  volumeName: server
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: media
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Ti
  storageClassName: ""
  volumeName: media
