apiVersion: apps/v1
kind: Deployment
metadata:
  name: nut-exporter
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    spec:
      containers:
        - name: nut-exporter
          image: hon95/prometheus-nut-exporter:1.2.1
          ports:
            - name: nut-exporter
              containerPort: 9995
          env:
            - name: TZ
              value: America/New_York
          resources:
            limits:
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 128Mi
