kind: Deployment
apiVersion: apps/v1
metadata:
  name: tubearchivist
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: tubearchivist
          image: bbilly1/tubearchivist:v0.5.7
          ports:
            - name: ingress
              containerPort: 8000
          env:
            - name: TZ
              value: America/New_York
            - name: HOST_UID
              value: "1000"
            - name: HOST_GID
              value: "1000"
            - name: TA_HOST
              value: https://tube.mchill.io http://tubearchivist.server.svc.cluster.local
            - name: REDIS_CON
              value: redis://localhost:6379
            - name: ES_URL
              value: http://localhost:9200
            - name: TA_USERNAME
              value: mchill
            - name: TA_PASSWORD
              value: password
          envFrom:
            - secretRef:
                name: tubearchivist
          volumeMounts:
            - name: tubearchivist
              mountPath: /cache
              subPath: cache
            - name: applications
              mountPath: /cache/backup
              subPath: tubearchivist/backup
            - name: applications
              mountPath: /cache/channels
              subPath: tubearchivist/channels
            - name: applications
              mountPath: /cache/download
              subPath: tubearchivist/download
            - name: applications
              mountPath: /cache/import
              subPath: tubearchivist/import
            - name: applications
              mountPath: /cache/playlists
              subPath: tubearchivist/playlists
            - name: applications
              mountPath: /cache/videos
              subPath: tubearchivist/videos
            - name: libraries
              mountPath: /youtube
              subPath: youtube/tubearchivist
          resources:
            limits:
              memory: 1Gi
            requests:
              cpu: 10m
              memory: 1Gi
        - name: redis
          image: redis:7.4.6
          volumeMounts:
            - name: tubearchivist
              mountPath: /data
              subPath: redis
          resources:
            limits:
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 128Mi
        - name: elasticsearch
          image: elasticsearch:8.19.5
          env:
            - name: ES_JAVA_OPTS
              value: -Xms512m -Xmx512m
            - name: xpack.security.enabled
              value: "true"
            - name: discovery.type
              value: single-node
            - name: path.repo
              value: /usr/share/elasticsearch/data/snapshot
          envFrom:
            - secretRef:
                name: tubearchivist
          volumeMounts:
            - name: tubearchivist
              mountPath: /usr/share/elasticsearch/data
              subPath: elasticsearch
          resources:
            limits:
              memory: 1.5Gi
            requests:
              cpu: 10m
              memory: 1.5Gi
      volumes:
        - name: tubearchivist
          persistentVolumeClaim:
            claimName: tubearchivist
        - name: applications
          persistentVolumeClaim:
            claimName: applications
        - name: libraries
          persistentVolumeClaim:
            claimName: libraries
