apiVersion: batch/v1
kind: CronJob
metadata:
  name: $(VOLUME)-backup
spec:
  schedule: "@daily"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 0
  failedJobsHistoryLimit: 0
  jobTemplate:
    spec:
      backoffLimit: 0
      activeDeadlineSeconds: 3600
      template:
        spec:
          restartPolicy: OnFailure
          containers:
            - name: backup
              image: alpine:3.23
              command:
                - /bin/sh
                - -cex
              args:
                - |
                  apk add --no-cache openssh-client;
                  ssh-keyscan -H 192.168.1.30 >> /root/.ssh/known_hosts;
                  ssh mchill@192.168.1.30 "sudo /home/mchill/backup.sh ${VOLUME}";
              env:
                - name: TZ
                  value: America/New_York
                - name: VOLUME
                  value: $(VOLUME)
              volumeMounts:
                - name: ssh
                  readOnly: true
                  mountPath: /root/.ssh/id_rsa
                  subPath: id_rsa
              resources:
                limits:
                  memory: 128Mi
                requests:
                  cpu: 10m
                  memory: 128Mi
          volumes:
            - name: ssh
              secret:
                secretName: beelink1
                defaultMode: 0600
