apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: $(VOLUME)
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: ""
  volumeName: $(VOLUME)
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: $(VOLUME)-ceph
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: ""
  volumeName: $(VOLUME)-ceph
