kind: Deployment
apiVersion: apps/v1
metadata:
  name: homer
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: homer
          image: b4bz/homer:v25.10.1
          ports:
            - name: ingress
              containerPort: 8080
          env:
            - name: TZ
              value: America/New_York
            - name: UID
              value: "1000"
            - name: GID
              value: "1000"
          volumeMounts:
            - name: homer
              mountPath: /www/assets
            - name: config
              mountPath: /www/assets/config.yml
              subPath: config.yaml
          resources:
            limits:
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 128Mi
      volumes:
        - name: homer
          persistentVolumeClaim:
            claimName: homer
        - name: config
          configMap:
            name: homer
