namespace: server
commonLabels:
  app: homer
  subdomain: ""
resources:
  - ../../overlays/ingress
  - ../../overlays/persistence
  - deployment.yaml
configMapGenerator:
  - name: homer
    files:
      - config.yaml
patches:
  - target:
      kind: IngressRoute
    patch: |-
      - op: replace
        path: /spec/routes/0/match
        value: Host("mchill.io")
