kind: Deployment
apiVersion: apps/v1
metadata:
  name: tautulli
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: tautulli
          image: tautulli/tautulli:v2.16.0
          ports:
            - name: ingress
              containerPort: 8181
          env:
            - name: TZ
              value: America/New_York
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
          volumeMounts:
            - name: tautulli
              mountPath: /config
          resources:
            limits:
              memory: 256Mi
            requests:
              cpu: 10m
              memory: 256Mi
      volumes:
        - name: tautulli
          persistentVolumeClaim:
            claimName: tautulli
