apiVersion: apps/v1
kind: Deployment
metadata:
  name: photon
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: photon
          command: ["/bin/bash", "-c", "--"]
          args: ["while true; do sleep 30; done;"]
          image: rtuszik/photon-docker:0.7.2
          imagePullPolicy: Always
          ports:
            - name: ingress
              containerPort: 2322
          env:
            - name: TIME_ZONE
              value: America/New_York
            - name: UPDATE_STRATEGY
              value: DISABLED
            - name: UDPATE_INTERVAL
              value: 24h
            - name: LOG_LEVEL
              value: INFO
            - name: SKIP_MD5_CHECK
              value: "TRUE"
          volumeMounts:
            - name: applications
              mountPath: /photon/photon_data
              subPath: photon
          resources:
            limits:
              memory: 256Mi
            requests:
              cpu: 10m
              memory: 256Mi
      volumes:
        - name: applications
          persistentVolumeClaim:
            claimName: applications
