apiVersion: apps/v1
kind: Deployment
metadata:
  name: dawarich
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: dawarich
          image: freikin/dawarich:0.37.3
          command:
            - web-entrypoint.sh
          args:
            - bin/rails
            - server
            - -p
            - "3000"
            - -b
            - "::"
          ports:
            - name: ingress
              containerPort: 3000
          env:
            - name: TIME_ZONE
              value: America/New_York
            - name: APPLICATION_HOSTS
              value: dawarich.mchill.io,dawarich.server.svc.cluster.local
            - name: DISTANCE_UNIT
              value: mi
            - name: REDIS_URL
              value: redis://localhost:6379
            - name: DATABASE_HOST
              value: localhost
            - name: DATABASE_PORT
              value: "5432"
            - name: DATABASE_NAME
              value: dawarich
            - name: DATABASE_USERNAME
              value: postgres
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: dawarich
                  key: POSTGRES_PASSWORD
            - name: PHOTON_API_USE_HTTPS
              value: "false"
            - name: PHOTON_API_HOST
              value: photon.server.svc.cluster.local
            - name: SELF_HOSTED
              value: "true"
          volumeMounts:
            - name: dawarich
              mountPath: /var/app/public
              subPath: public
            - name: dawarich
              mountPath: /var/app/tmp/imports/watched
              subPath: watched
            - name: dawarich
              mountPath: /var/app/storage
              subPath: storage
          resources:
            limits:
              memory: 1Gi
            requests:
              cpu: 10m
              memory: 1Gi
        - name: sidekiq
          image: freikin/dawarich:0.37.3
          command:
            - sidekiq-entrypoint.sh
          args:
            - sidekiq
          env:
            - name: TIME_ZONE
              value: America/New_York
            - name: APPLICATION_HOSTS
              value: dawarich.mchill.io,dawarich.server.svc.cluster.local
            - name: DISTANCE_UNIT
              value: mi
            - name: REDIS_URL
              value: redis://localhost:6379
            - name: DATABASE_HOST
              value: localhost
            - name: DATABASE_PORT
              value: "5432"
            - name: DATABASE_NAME
              value: dawarich
            - name: DATABASE_USERNAME
              value: postgres
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: dawarich
                  key: POSTGRES_PASSWORD
            - name: PHOTON_API_USE_HTTPS
              value: "false"
            - name: PHOTON_API_HOST
              value: photon.server.svc.cluster.local
            - name: SELF_HOSTED
              value: "true"
          volumeMounts:
            - name: dawarich
              mountPath: /var/app/public
              subPath: public
            - name: dawarich
              mountPath: /var/app/tmp/imports/watched
              subPath: watched
            - name: dawarich
              mountPath: /var/app/storage
              subPath: storage
          resources:
            limits:
              memory: 1Gi
            requests:
              cpu: 10m
              memory: 1Gi
        - name: db
          image: postgis/postgis:17-3.5-alpine
          env:
            - name: POSTGRES_DB
              value: dawarich
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: dawarich
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - name: dawarich
              mountPath: /var/lib/postgresql/data
              subPath: postgres
            - name: dawarich
              mountPath: /var/shared
              subPath: shared
          resources:
            limits:
              memory: 256Mi
            requests:
              cpu: 10m
              memory: 256Mi
        - name: redis
          image: redis:7.4.7-alpine
          volumeMounts:
            - name: dawarich
              mountPath: /data
              subPath: shared
          resources:
            limits:
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 128Mi
      volumes:
        - name: dawarich
          persistentVolumeClaim:
            claimName: dawarich
