apiVersion: v1
kind: Service
metadata:
  name: minecraft-mattcraft
  annotations:
    metallb.universe.tf/loadBalancerIPs: 192.168.1.241
spec:
  type: LoadBalancer
  ports:
    - name: minecraft
      port: 25565
      targetPort: minecraft
