apiVersion: apps/v1
kind: Deployment
metadata:
  name: minecraft
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    spec:
      securityContext:
        fsGroup: 1000
      initContainers:
        - name: mods
          image: bash:5.3.3
          args:
            - -c
            - |
              mods=(
                # https://www.curseforge.com/minecraft/mc-mods/fabric-api
                https://cdn.modrinth.com/data/P7dR8mSH/versions/0.26.0%2B1.16/fabric-api-0.26.0%2B1.16.jar

                # https://www.curseforge.com/minecraft/mc-mods/phosphor
                https://cdn.modrinth.com/data/hEOCdOgW/versions/mc1.16.3-0.7.0/phosphor-fabric-mc1.16.3-0.7.0%2Bbuild.10.jar

                # https://www.curseforge.com/minecraft/mc-mods/lithium
                https://cdn.modrinth.com/data/gvQqBUqZ/versions/mc1.16.4-0.6.0/lithium-fabric-mc1.16.4-0.6.0.jar
              );

              apk add --no-cache wget
              for mod in "${mods[@]}"
              do
                wget -P /mods/ -nc $mod
              done
          volumeMounts:
            - name: mods
              mountPath: /mods
      containers:
        - name: minecraft
          image: itzg/minecraft-server:2025.10.1
          ports:
            - name: minecraft
              containerPort: 25565
          env:
            - name: TZ
              value: America/New_York
            - name: EULA
              value: "TRUE"
            - name: MEMORY
              value: 2500M
            - name: VERSION
              value: 1.16.4
            - name: TYPE
              value: FABRIC
            - name: REMOVE_OLD_MODS
              value: "TRUE"
          volumeMounts:
            - name: minecraft
              mountPath: /data
            - name: config
              mountPath: /data/ops.json
              subPath: ops.json
            - name: config
              mountPath: /data/whitelist.json
              subPath: whitelist.json
            - name: mods
              mountPath: /mods
          resources:
            limits:
              cpu: 1
              memory: 3Gi
            requests:
              cpu: 500m
              memory: 3Gi
      volumes:
        - name: minecraft
          persistentVolumeClaim:
            claimName: minecraft
        - name: config
          configMap:
            name: minecraft
        - name: mods
          emptyDir: {}
