namespace: server
commonLabels:
  app: minecraft
resources:
  - ../../overlays/persistence
  - deployment.yaml
  - service.yaml
configMapGenerator:
  - name: minecraft
    files:
      - ops.json
      - whitelist.json
