kind: Deployment
apiVersion: apps/v1
metadata:
  name: readarr
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: readarr
          image: linuxserver/readarr:nightly-version-0.1.0.1165
          ports:
            - name: readarr
              containerPort: 8787
          env:
            - name: TZ
              value: America/New_York
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
          volumeMounts:
            - name: server
              mountPath: /config
              subPath: readarr
            - name: media
              mountPath: /books
              subPath: Audiobooks
            - name: media
              mountPath: /downloads
              subPath: Transmission
      volumes:
        - name: server
          persistentVolumeClaim:
            claimName: server
        - name: media
          persistentVolumeClaim:
            claimName: media
