token: {{ K3S_TOKEN }}
write-kubeconfig: /home/mchill/.kube/config
write-kubeconfig-mode: 644
tls-san:
  - mchill.io
disable:
  - local-storage
  - servicelb
  - traefik
node-label:
  - node.longhorn.io/create-default-disk=config
kubelet-arg:
  - allowed-unsafe-sysctls=net.*
