apiVersion: batch/v1
kind: CronJob
metadata:
  name: kometa-posters
spec:
  schedule: "@daily"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 0
  failedJobsHistoryLimit: 0
  jobTemplate:
    spec:
      backoffLimit: 0
      activeDeadlineSeconds: 3600
      template:
        spec:
          securityContext:
            fsGroup: 1000
          restartPolicy: OnFailure
          initContainers:
            - name: render-config
              image: bash:5.3.3
              args:
                - -c
                - |
                  apk add --no-cache gettext rsync
                  envsubst < /config_src/config.yaml > /config/config.yml
                  bash /config/sync.sh
              envFrom:
                - secretRef:
                    name: kometa
              volumeMounts:
                - name: kometa
                  mountPath: /config
                  subPath: posters
                - name: libraries
                  mountPath: /data
                - name: config
                  mountPath: /config_src/config.yaml
                  subPath: config.yaml
                - name: config
                  mountPath: /config/sync.sh
                  subPath: sync.sh
              resources:
                limits:
                  memory: 128Mi
                requests:
                  cpu: 10m
                  memory: 128Mi
          containers:
            - name: kometa
              image: kometateam/kometa:v2.2.2
              args:
                - --run
                - --read-only-config
              env:
                - name: TZ
                  value: America/New_York
              volumeMounts:
                - name: kometa
                  mountPath: /config
                  subPath: posters
                - name: libraries
                  mountPath: /data
                - name: config
                  mountPath: /config/movies.yml
                  subPath: movies.yml
                - name: config
                  mountPath: /config/extras.yml
                  subPath: extras.yml
                - name: config
                  mountPath: /config/tv.yml
                  subPath: tv.yml
              resources:
                limits:
                  memory: 1Gi
                requests:
                  cpu: 10m
                  memory: 1Gi
          volumes:
            - name: kometa
              persistentVolumeClaim:
                claimName: kometa
            - name: libraries
              persistentVolumeClaim:
                claimName: libraries
            - name: config
              configMap:
                name: kometa-posters
