apiVersion: apps/v1
kind: Deployment
metadata:
  name: minecraft-mattcraft
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    spec:
      initContainers:
        - name: mods
          image: bash:5.1.4@sha256:aead4bebd5ad1ccf25a58d8fc797ee99437546dea116abfcef8435bd130218dc
          args:
            - -c
            - |
              mods=(
                # https://www.curseforge.com/minecraft/mc-mods/fabric-api
                https://media.forgecdn.net/files/3112/610/fabric-api-0.26.0%2B1.16.jar

                # https://www.curseforge.com/minecraft/mc-mods/phosphor
                https://media.forgecdn.net/files/2987/621/phosphor-fabric-mc1.16.1-0.6.0%2Bbuild.7.jar

                # https://www.curseforge.com/minecraft/mc-mods/lithium
                https://media.forgecdn.net/files/3107/909/lithium-fabric-mc1.16.4-0.6.0.jar

                # https://www.curseforge.com/minecraft/mc-mods/quick-shulker
                https://media.forgecdn.net/files/3112/642/quickshulker-1.1.11-1.16.jar
              );

              apk add --no-cache wget
              for mod in "${mods[@]}"
              do
                wget -P /mods/ -nc $mod
              done
          volumeMounts:
            - name: mods
              mountPath: /mods
      containers:
        - name: minecraft-mattcraft
          image: itzg/minecraft-server:2021.9.0@sha256:778d5477027cae14fda65d86ad7120023d55d5bf2391611ef8ceebaec217d785
          ports:
            - name: minecraft
              containerPort: 25565
          env:
            - name: TZ
              value: America/New_York
            - name: EULA
              value: "TRUE"
            - name: MEMORY
              value: 2500M
            - name: VERSION
              value: 1.16.4
            - name: TYPE
              value: FABRIC
            - name: REMOVE_OLD_MODS
              value: "TRUE"
          volumeMounts:
            - name: server
              mountPath: /data
              subPath: minecraft-mattcraft
            - name: minecraft-mattcraft
              mountPath: /data/ops.json
              subPath: ops.json
            - name: minecraft-mattcraft
              mountPath: /data/whitelist.json
              subPath: whitelist.json
            - name: mods
              mountPath: /mods
          resources:
            limits:
              cpu: 0.6
              memory: 3Gi
            requests:
              cpu: 0.3
              memory: 3Gi
      volumes:
        - name: server
          persistentVolumeClaim:
            claimName: server
        - name: minecraft-mattcraft
          configMap:
            name: minecraft-mattcraft
        - name: mods
          emptyDir: {}
