namespace: traefik-external
resources:
  - certificate.yaml
  - ingress.yaml
  - middleware.yaml
  - namespace.yaml
  - sealed-secret.yaml
  - service.yaml
  - tls-store.yaml
commonLabels:
  app: traefik-external
configMapGenerator:
  - name: traefik-forward-auth
    files:
      - traefik-forward-auth.ini
helmCharts:
  - name: traefik
    includeCRDs: false
    version: 10.20.0
    repo: https://helm.traefik.io/traefik
    releaseName: traefik-external
    namespace: traefik-external
    valuesFile: values.yaml
