apiVersion: apps/v1
kind: Deployment
metadata:
  name: homeassistant
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    spec:
      hostNetwork: true
      containers:
        - name: homeassistant
          image: homeassistant/home-assistant:2021.5.0
          ports:
            - name: http
              containerPort: 8123
          env:
            - name: TZ
              value: America/New_York
          volumeMounts:
            - name: server
              mountPath: /config
              subPath: homeassistant
      volumes:
        - name: server
          persistentVolumeClaim:
            claimName: server
