apiVersion: apps/v1
kind: Deployment
metadata:
  name: audiobookshelf
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: audiobookshelf
          image: advplyr/audiobookshelf:2.0.1
          ports:
            - name: http
              containerPort: 80
          env:
            - name: TZ
              value: America/New_York
          volumeMounts:
            - name: server
              mountPath: /metadata
              subPath: audiobookshelf/metadata
            - name: server
              mountPath: /config
              subPath: audiobookshelf/config
            - name: media
              mountPath: /audiobooks
              subPath: Audiobooks
      volumes:
        - name: server
          persistentVolumeClaim:
            claimName: server
        - name: media
          persistentVolumeClaim:
            claimName: media
